.character {
    height: 200px;
    width: 250px;
}
.main-character {
    height: 200px;
    width: 250px;
}
.char {
    position: relative;
    width: 250px;
    display: inline-block;
    margin-top: 10px;
}

#rancor {
    margin-left: 5px;   
}

body {
    background-image: url('../images/background.jpg');
    background-size: 100%;
}

.health {
position: absolute;
background-color: black;
color: white;
bottom: 0;
width: 100%;
text-align: center;
font-size: 24px;