
.character {
    height: 200px;
    width: 250px;
    
}
.main-character {
    height: 200px;
    width: 250px;
}
.char {
    position: relative;
    width: 250px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
}

.main-character {
    position: relative;
    width: 250px;
    display: inline-block;
    margin-top: 10px;
    top: 0;
    left: 0;;
    margin-left: 5px;
}


#fight {
    margin-left: 90px;
    background-color: black;
    color: red;
    line-height: 150%;
    width: 90px;
    display: none;
}

body {
    background-image: url('../images/tatooine.jpeg');
    background-size: 100%;
    color: #7DF9FF;
    font-size: 24px;
}

#restart {
    margin-left: 90px;
    background-color: black;
    color: red;
    line-height: 150%;
    width: 90px;
    display: none;
}

.hanger {
    height: 40px;
    width: 75px;
    background-image: url('../images/hanger.jpg');
    background-size: 100%;
    background-repeat: no-repeat;   
}
#themes {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.hoth {
    height: 40px;
    width: 75px;
    background-image: url('../images/background.jpg');
    background-size: 100%;
    background-repeat: no-repeat; 
}

.tatooine {
    height: 40px;
    width: 75px;
    background-image: url('../images/tatooine.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.health {
position: absolute;
background-color: black;
color: white;
bottom: 0;
width: 100%;
text-align: center;
font-size: 24px;
}